.question
  %strong RSVP:
  Is
  %strong= profile.first_name
  attending the wedding?
.answer
  - if profile.rsvp.blank?
    = link_to_remote 'No', :url => user_path(profile), :with => "'user[rsvp]=No'", :update => dom_id(profile), :before => "$('##{dom_id(profile)} .answer').hide();$('##{dom_id(profile)} .ajax_loader').show()", :method => :put, :html => {:class => 'button blue'}
    = link_to_remote 'Yes', :url => user_path(profile), :with => "'user[rsvp]=Yes'", :update => dom_id(profile), :before => "$('##{dom_id(profile)} .answer').hide();$('##{dom_id(profile)} .ajax_loader').show()", :method => :put, :html => {:class => 'button blue'}
  - else
    %strong= profile.rsvp.upcase
= image_tag 'ajax_loader.gif', :class => 'ajax_loader'

- if profile.is_attending?
  .food_restrictions{:style => profile.food_restrictions.nil? ? 'display:none' : ''}
    - if profile.food_restrictions.nil?
      - formatted_remote_form_for profile, :url => user_path(profile), :update => dom_id(profile), :html => {:method => :put} do |f|
        = f.text_area :food_restrictions, :rows => 3, :autocomplete => :off, :label => 'For the reception, do you have any food restrictions we need to be aware of:'
        = f.submit "Save preferences", :show_ajax_loader => 'Saving your preferences ...', :cancel_url => link_to_remote('Never mind, I have no food restrictions', :url => user_path(profile), :with => "'user[food_restrictions]='", :update => dom_id(profile), :before => "$(this).parent().next().css('display', 'block');$(this).parent().hide();", :method => :put)
      :javascript
        $().ready(function(){
          $('##{dom_id(profile)} .food_restrictions').slideDown()
        });
    - else
      %strong FOOD RESTRICTIONS:
      - if profile.food_restrictions.blank?
        None
      - else
        = simple_format(profile.food_restrictions)
    
    