:javascript
  $(document).ready(function() {
    $('#user_first_name').focus();
  })
  
  function move_friends(src, dst) {
    $('#'+src+' option:selected').each(function(){
      $('#'+dst).append(this);
    });
  }
  
  
= form.error_messages

.form_right_column
  .form_element_group
    .form_element.text
      .label= form.label :show_in, 'Show in'
      .field= form.select :show_in, [["Don't show", ''], ['Our Parents', 'our-parents'], ['Bridal Party', 'bridal-party'], ['Family and guests', 'family-and-guests']]

    .form_element.text
      .label= form.label :position, 'position'
      .field= form.text_field :position


  .form_element_group
    - if @user.password_crypt.blank? || @user.is_stub?
      .form_element.text.checkbox
        .field= form.check_box :is_stub?, :onclick => "this.checked ? $('#password_fields').hide() : $('#password_fields').show()"
        .label= form.label :is_stub?, 'Let this user choose his password'
    - else
      .form_element
        .label 
          %strong Change password
        
    #password_fields{:style => @user.is_stub? ? 'display:none' : ''}
      
      .form_element.text
        .label= form.label :password, 'password'
        .field= form.password_field :password, :autocomplete => :off

      .form_element.text
        .label= form.label :password_confirmation, 'Password confirmation'
        .field= form.password_field :password_confirmation, :autocomplete => :off

.form_left_column
  .form_element_group.horizontal
    .form_element.text
      .label= form.label :first_name, 'First name'
      .field= form.text_field :first_name

    .form_element.text
      .label= form.label :last_name, 'Last name'
      .field= form.text_field :last_name

    .form_element.text
      .label= form.label :email, 'email'
      .field= form.text_field :email, :autocomplete => :off

    .form_element.image
      .label= form.label :avatar, 'Photo'
      .field  
        = image_tag @user.avatar.url(:thumb)
        = form.file_field :avatar
        - if !@user.blank? && @user.avatar?
          %br/
          = link_to 'Delete photo', delete_avatar_cms_admin_user_path(@user), :method => :delete, :confirm => 'Are you sure?'

    .form_element.text
      .label= form.label :relationship, 'relationship'
      .field= form.text_field :relationship

  .form_element_group
    .form_element.friendships
      .label Connect this user with:
      .field
        = select_tag 'friends', options_for_select(@user.friends_for_select), :name => 'friends[]', :size =>10, :multiple => true
        .buttons
          = button_to_function 'Add <<', "move_friends('non_friends', 'friends')"
          = button_to_function 'Remove >>', "move_friends('friends', 'non_friends')"
        = select_tag 'non_friends', options_for_select(@user.non_friends_for_select), :size =>10, :multiple => true
    