= link_to 'Add New User', new_cms_admin_user_path, :class => 'big_button'

%h2 Users

= will_paginate @users

%table.formatted
  %tr
    %th.first{:colspan => 2} Name
    %th Role
    %th Login count
    %th Failed logins
    %th Last logged in on
    %th.last
  
  - @users.each do |user|
    %tr
      %td
        .icon= image_tag user.avatar.url(:thumb)
      %td.main= link_to user.name.titleize, edit_cms_admin_user_path(user), :class => 'label'
      %td= user.role
      %td.center= user.login_count
      %td.center= user.failed_login_count
      %td.date= user.last_request_at.blank? ? 'Never logged in' : user.last_request_at.to_s(:long_html)
      %td.action_links
        = link_to 'Edit', edit_cms_admin_user_path(user)
        |
        = link_to 'Remove', cms_admin_user_path(user), :method => 'delete', :confirm => 'Are you sure you want to remove this user?'
        
= will_paginate @users
