%ul.nav
  - CmsPage.all.each do |page|
    %li= active_link_to page.label, page.full_path
  %li.divider
  - if logged_in?
    %li= active_link_to 'Dashboard', dashboard_path
    - if session_user.is_admin?
      %li= link_to 'Manage content', '/cms-admin/posts'
    %li= active_link_to 'Logout', logout_path, :method => :delete
  - else
    %li= active_link_to 'Login', login_path

  %li= link_to 'RSS feed', posts_path(:rss), :class => 'rss'