!!! XML
!!! 1.0
%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang'=>"en"}
  %head
    = render :partial => 'layouts/head'
    
  %body
    .body_wrapper
      .left
      .center
        .logo= image_tag 'logo.gif'
        .content_wrapper
          .header
            = image_tag 'photo_blue_1.gif'
          .sub_header
            .date When: July 17, 2010
            Joaquim José Nunes Ferreira Neto & Lindsey Beth Morsh Donovan
          = render :partial => 'layouts/nav'
          = render :partial => 'layouts/flash_message'
          - if SHOW_RSVP && (!logged_in? || (logged_in? && session_user.rsvp.nil?)) && params[:action] != 'dashboard'
            .rsvp_callout
              Did you receive an invitation?
              %br/
              - if logged_in?
                = link_to 'Click here to respond', dashboard_path
              - else
                = link_to 'Click here to login and respond', login_path
                
          .content
            = yield
          .footer
            #defaultCountdown
      .right
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

      try {
        var pageTracker = _gat._getTracker("UA-12763963-1");
        pageTracker._trackPageview();
      } catch(err) {}